@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --primary-green: #00b598;
  --mint-green: #e7f8f5;
  --dark-gray: #6b6b6b;
  --light-gray: #98a4ae;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* General styles used for add new inventor form */

.icon {
  @apply bg-[#00B598] flex justify-center items-center p-2 rounded-full w-fit cursor-pointer
}

.line {
  @apply bg-[#D3D3D3] w-[100%] h-[0.1rem] mt-5
}

.active-line {
  @apply bg-[#005B4C]
}

.button {
  @apply py-3 px-4 font-semibold cursor-pointer
}

.ease-transition {
  @apply transition ease-out duration-300
}

.horizontal-rule {
  @apply h-[2px] w-full bg-[#F2EBF3] rounded
}

.label-input {
  @apply flex flex-col w-full gap-2 text-sm text-[#29343D]
}

.form-input {
  @apply border border-[#E0E6EB] px-4 py-3 rounded-lg w-full ease-transition text-lightGray
}

.form-input:focus {
  @apply outline-primaryGreen
}

.show-profile-slide {
  @apply transition-all translate-x-[0%] duration-300 ease-out;
}

.remove-profile-slide {
  @apply transition-all translate-x-[100%] duration-300 ease-out;
}